################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PUJIPEN/v16
/Debug/PUJIPEN.tlog
/Debug
/x64